# Copyright (c) Microsoft Corporation
# SPDX-License-Identifier: MIT

# Main YML file for the CICD pipeline

name: CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  # Run on a daily schedule to perform the full set of tests.
  schedule:
    - cron: '00 21 * * *'
  workflow_dispatch:

permissions:
  contents: read
  packages: write

concurrency:
  # Cancel any CI/CD workflow currently in progress for the same PR.
  # Allow running concurrently with any other commits.
  group: cicd-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  windows_release:
    uses: ./.github/workflows/Build.yml
    with:
      platform: windows-2019
      configuration: RelWithDebInfo
      enable_sanitizers: false
      enable_coverage: false

  windows_debug:
    uses: ./.github/workflows/Build.yml
    with:
      platform: windows-2019
      configuration: Debug
      enable_sanitizers: false
      enable_coverage: false

  windows_release_2022:
    uses: ./.github/workflows/Build.yml
    with:
      platform: windows-2022
      configuration: RelWithDebInfo
      enable_sanitizers: false
      enable_coverage: false

  windows_debug_2022:
    uses: ./.github/workflows/Build.yml
    with:
      platform: windows-2022
      configuration: Debug
      enable_sanitizers: false
      enable_coverage: false

  ubuntu_release:
    uses: ./.github/workflows/Build.yml
    with:
      platform: ubuntu-22.04
      configuration: Release
      enable_sanitizers: false
      enable_coverage: false

  ubuntu_debug:
    uses: ./.github/workflows/Build.yml
    with:
      platform: ubuntu-22.04
      configuration: Debug
      enable_sanitizers: false
      enable_coverage: false

  ubuntu_release_sanitizers:
    uses: ./.github/workflows/Build.yml
    with:
      platform: ubuntu-22.04
      configuration: Release
      enable_sanitizers: true
      enable_coverage: false

  ubuntu_debug_sanitizers:
    uses: ./.github/workflows/Build.yml
    with:
      platform: ubuntu-22.04
      configuration: Debug
      enable_sanitizers: true
      enable_coverage: false

  ubuntu_release_coverage:
    uses: ./.github/workflows/Build.yml
    with:
      platform: ubuntu-22.04
      configuration: Release
      enable_sanitizers: false
      enable_coverage: true

  ubuntu_debug_coverage:
    uses: ./.github/workflows/Build.yml
    with:
      platform: ubuntu-22.04
      configuration: Debug
      enable_sanitizers: false
      enable_coverage: true

  macos_release:
    uses: ./.github/workflows/Build.yml
    with:
      platform: macos-latest
      configuration: Release

  macos_debug:
    uses: ./.github/workflows/Build.yml
    with:
      platform: macos-latest
      configuration: Debug

  finish:
    needs:
      - ubuntu_release_coverage
      - ubuntu_debug_coverage
    runs-on: ubuntu-22.04
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e # v2.10.4
      with:
        egress-policy: audit

    - name: Coveralls Finished
      uses: coverallsapp/github-action@cfd0633edbd2411b532b808ba7a8b5e04f76d2c8 # v2.3.4
      with:
        github-token: ${{ secrets.github_token }}
        parallel-finished: true
