# Copyright (c) Microsoft Corporation
# SPDX-License-Identifier: MIT

# Linux only.

name: Fuzzer

on:
  workflow_dispatch:
  schedule:
    - cron: '00 21 * * *'

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-22.04
    env:
      BUILD_TYPE: Debug

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        submodules: 'recursive'

    - name: Configure CMake
      run: |
        cmake \
          -B ${{github.workspace}}/build \
          -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} \
          -DBTF_ENABLE_FUZZING=TRUE

    - name: Build only libbtf_fuzzer
      # Build your program with the given configuration
      run: cmake --build ${{github.workspace}}/build

    - name: Tests
      working-directory: ${{github.workspace}}
      run: |
        mkdir -p Artifacts
        build/libfuzzer/libbtf_fuzzer build/libfuzzer/corpus -use_value_profile=1 -max_total_time=300 -artifact_prefix=Artifacts/

    - name: Check for generated artifacts
      # Check for artifacts even if the workflow failed.
      if: success() || failure()
      uses: andstor/file-existence-action@076e0072799f4942c8bc574a82233e1e4d13e9d6
      id: check_artifacts
      with:
        files: ${{github.workspace}}/Artifacts/*

    - name: Upload generated artifacts
      # Upload artifacts even if the workflow failed.
      if: success() || failure()
      id: upload_artifacts
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
      with:
        name: Libfuzzer artifacts
        path: ${{github.workspace}}/Artifacts/
        retention-days: 5
